# git config --global --add safe.directory /var/www/dentaltrainer_back

# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

__pycache__/

/venv/*
/env/*

/media-del-move-to-up/*

#db.sqlite3

/conf/.env
.env
.env.dev
.env.prod
.env.prod_msk

#/data/*

/log/*

sqlite3.db

.env.docker
.env.docker.prod

/logs/celery/*

/tmp

/celery/*

/conf_kz

.env.*

_doc/

.env.prod.kz

/test

/public/media

/_doc

.env
.env.prod
.env.deploy

alembic.ini
alembic.ini.prod

/keys