# drillize.uvicorn.service
# sudo ln -s /var/www/drillize_back/conf/uvicorn/drillize.uvicorn.service /etc/systemd/system/drillize.uvicorn.service

[Unit]
Description=uvicorn.drillize.service
After=network.target

[Service]
User=fastapi
Group=fastapi
SupplementaryGroups=nginx
WorkingDirectory=/var/www/drillize_back/
ExecStart=uv run --active uvicorn main:app \
--host 0.0.0.0 \
--port 8050 \
--log-config /var/www/drillize_back/conf/logging/logging.conf \
--access-log

Restart=always

[Install]
WantedBy=multi-user.target

# sudo systemctl restart drillize.uvicorn.service
# sudo systemctl status drillize.uvicorn.service
# sudo systemctl daemon-reload



